@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    --sidePadding: 16px;
    --topPadding: 12px;
    --blue: #1992D4;
    --light-grey: #E2E8F0;
}

h1 {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
h4 {
    font-size: 1rem;
    margin: 0 0 0 0;
}
p {
    font-size: 1rem;
    margin: 0 0 0 0;
}



body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:1fr 5fr;
    width: 100vw;
    height: 100vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
}

/* body div {
    border: 3px solid black;
} */

body #sidebar {
    grid-column: 1;
    grid-row: 1/3;
}
body #header {
    grid-column: 2/4;
    grid-row: 1;
}

body #main-content {
    grid-column: 2/4;
    grid-row: 2/3;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--blue);
    color: white;
    padding: var(--topPadding) var(--sidePadding) var(--topPadding) var(--sidePadding);
    gap: 18px

}
#logoContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: var(--sidePadding);
    padding-left: 0px   ;
    gap: 8px;
}

#logoContainer svg {
    width: 30px;
    fill: white;
    margin-left: -4px
}

.sidebarNav ul {
    list-style-type: none;
    /* font-size: 3rem; */
    margin-bottom: 36px;
    margin-left: var(--sidePadding);
    padding-left: 0px;
}
.sidebarNav li {
    margin-bottom: 12px;
    margin-left:0px;
    display: flex;
    align-items: start;
    justify-content: start;
}
.sidebarNav li svg {
    width: 14px;
    fill: white;
    margin-right: 8px;
}
.sidebarNav li p {
    font-size: 1rem;
}
#header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: space-around;
    padding: 12px 28px 12px 28px;
}

#header .top, #header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .search {
    display: flex;
    justify-content: left;
    gap: 12px;
    flex: 1 1 0;
    max-width: 600px;

}
.search input {
    border-radius: 50vh;
    border: none;
    width: max(300px, 100%);
    background-color: var(--light-grey);

}

#header svg {
    fill: black;
    width: 16px;
}
#header .userToolBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-weight: bold;
}
.toolBarImage {
    width: 24px;
}

#header .userImageAndName{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px
}
.mainUserImage {
    width: 48px;
}
.welcomeMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(12px, 1.5em, 48px)
}
.buttonContainer button {
    width: 80px;
    height: 28px;
    border-radius: 50vh;
    border: none;
    background-color: var(--blue);
    color: white;
}

#main-content {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--topPadding) var(--sidePadding) var(--topPadding) var(--sidePadding);
    gap: var(--sidePadding);
    padding-bottom: 36px
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.projects h3 {
    align-self: start;
    margin-bottom: 16px;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    flex: 1 1 0;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.card .orangeBox {
    width: 12px;
    height: 100%;
    background-color: orange;
}

.card .mainCardArea {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 12px 16px 12px 16px;
}

.card p {
    flex: 1 1 0;
    color: grey
}

.card .cardicons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width:100%;
    gap: 6px
}

.cardicons svg {
    width: 16px;
    fill: black;
}
