body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:1fr 5fr;
    width: 100vw;
    height: 100vh;
}

body div {
    border: 3px solid black;
}
body #sidebar {
    grid-column: 1;
    grid-row: 1/3;
}
body #header {
    grid-column: 2/4;
    grid-row: 1;
}

body #main-content {
    grid-column: 2/4;
    grid-row: 2/3;
}